body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#wrapper {
    margin-top: 0px;
    background-color: #fff;
}

/*Header Styles*/
header {
    background-image: url("../images/Military with helicopter.webp");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    font-family: 'Georgia', serif;
    text-align: center;
    padding: 80px 20px;
    margin: 0;
    font-size: 2.5em;
}

/*Navigation Bar Styles*/

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: underline;
}

nav .right {
    background-color: darkolivegreen;
    color: white;
    float: right;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav .active {
    background-color: darkolivegreen;
    color: white;
}

/* Main Styles */

main {
    padding: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: darkolivegreen;
}

.intro {
    display: flex;
    align-items: center;
}

.intro-text {
    align-items: center;
}

.dad {
    height: auto;
    width: 70%;
}

.flags {
    width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.flagcaption {
    text-align: center;
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}